{% extends 'base.html.twig' %}

{% block body %}
     <div class="main">
      <div class="shop_top">
		<div class="container">
			<div class="row shop_box-top">
				{{ render(controller('App\\Controller\\PageController::productTemplate')) }}
			</div>
		 </div>
	   </div>
	  </div>
{% endblock %}