{% for oneExperiance in experiance %}
<div class="col-6 col-md-4 team1">
  <div class="img_section magnifier2">
    <a class="fancybox" href="{{ asset('images/' ~ oneExperiance.photo)}}" data-fancybox-group="gallery" title="{{ oneExperiance.name }}">
      <img src="{{ asset('images/' ~ oneExperiance.photo)}}" class="img-responsive" alt=""><span> </span>
      <div class="img_section_txt">
        {{ oneExperiance.name }}
      </div>
    </a>
  </div>
</div>
{% endfor %}